<aside class="sidebar">
  
  <div class="logo-area">
    <div class="logo-icon">P</div>
    <div class="logo-text">
      <span class="logo-title">Palmeras Records</span>
      <span class="logo-subtitle">MASTER HUB FÍSICO</span>
    </div>
  </div>

  
  <div class="menu-area">
    <div class="menu-label">Catálogo Musical</div>
    <nav class="menu-nav">
      <a href="#" class="menu-item">
        <i class="material-symbols-rounded">grid_view</i> Visión General
      </a>
      <a href="#" class="menu-item active">
        <i class="material-symbols-rounded">album</i> Catálogo Físico Master
      </a>
      <div style="height: 16px"></div>
      <a href="#" class="menu-item">
        <i class="material-symbols-rounded">groups</i> Artistas & Discografías
      </a>
      <a href="#" class="menu-item">
        <i class="material-symbols-rounded">payments</i> Liquidaciones &
        Royalties
      </a>
      <a href="#" class="menu-item">
        <i class="material-symbols-rounded">history_edu</i> Contratos &
        Licencias
      </a>
      <a href="#" class="menu-item">
        <i class="material-symbols-rounded">inventory_2</i> Stock en Almacenes
      </a>
      <a href="#" class="menu-item">
        <i class="material-symbols-rounded">trending_up</i> Ventas & Rotación
      </a>
      <a href="#" class="menu-item">
        <i class="material-symbols-rounded">storefront</i> Filiales
      </a>
    </nav>
  </div>
</aside>
