<aside class="sidebar">
  
  <header class="logo-area">
    <div class="logo-icon">P</div>
    <div class="logo-text">
      <span class="logo-title">Palmeras Records</span>
      <span class="logo-subtitle">MASTER HUB FÍSICO</span>
    </div>
  </header>

  
  <section class="menu-area">
    <h2 class="menu-label">Catálogo Musical</h2>

    <nav class="menu-nav">
      <a href="#" class="menu-item">
        <i class="material-symbols-rounded">grid_view</i> Visión General
      </a>
      <a href="#" class="menu-item active">
        <i class="material-symbols-rounded">album</i> Catálogo Físico Master
      </a>
      <div style="height: 16px"></div>
      <a href="#" class="menu-item">
        <i class="material-symbols-rounded">groups</i> Artistas & Discografías
      </a>
      <a href="#" class="menu-item">
        <i class="material-symbols-rounded">history_edu</i> Contratos &
        Licencias
      </a>
      <a href="#" class="menu-item">
        <i class="material-symbols-rounded">inventory_2</i> Stock en Almacenes
      </a>
      <a href="#" class="menu-item">
        <i class="material-symbols-rounded">storefront</i> Filiales
      </a>
    </nav>
  </section>
</aside>